:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    position: absolute;
    width: 99%;
    height: 99%;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Outfit';
    justify-content: center;
    text-align: center;
    background-color: var(--light-gray);
    margin: 0;
}

#qr-box {
    display: flex;
    flex-flow: column nowrap;
    max-height: 642px;
    width: 78%;
    max-width: 416px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem;
    margin: auto;
    box-shadow: 0px 8px 15px -10px rgba(29, 29, 29, 0.541);
}

#qr-image {
    object-fit: contain;
    height: auto;
    width: 100%;
    max-height: 416px;
    max-width: 416px;
    border-radius: 13px;
}

#qr-text {
    padding: 0.8em;
}

.weight-800 {
    margin: .75rem;
    color: var(--dark-blue);
    font-size: min(5.3vw, 5.3vh,1.8rem);
    font-weight: 800;
}

.weight-400 {
    margin: 0;
    font-weight: 00;
    font-size: min(4.1vw, 4.1vh, 1.4rem);
    color: var(--grayish-blue);
    padding: 0.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
